*{margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;
}

header{
    position: sticky;
    z-index: 9999;
    top: 0;
    background-color: #FFFFFF;
    nav{padding-top: 10px;
    height: 48px;
    h3{
        color:rgba(59, 58, 58, 0.884);
        transform: translate(30px,-5px);
    }
    img{width: 130px;
        height: 30px;
        transform: translateX(-80px);
    }
}
}
.post{
    width: 250px;
    height: 100vh;
    position: fixed;
    border-radius: 10px;
    left: 0;
    top:50px;
    z-index: 9999;
    background-color: #FFFFFF;

}
#section{
    border-radius: 10px;
    margin-left: 270px;
    width: 1230px;
    max-height: 2080px;
    background-color:#FFFFFF;
    .fa-search{
    transform: translate(570px, 30px);
    }
.tugma{
    button{
        background-color:#F5F6FA;
        color:#111111;
        font-weight: 500;
        span{
            margin-left: 10px;
          padding: 4px 8px;
              border-radius: 14px;
              width: 40px;
              height: 20px;
              background-color: #B2C2DF;
              color: #FFFFFF;
        }
    }
    button:hover{
        background-color: #177EFF;
        color:#FFFFFF;
    }
}
tbody{
    tr {
            height: 80px;
    
            td {
                transform: translateY(15px);
            }
    
            th {
                transform: translateY(15px);
            }
        }
}
}
#section1{
 border-radius: 10px;
     margin-left: 270px;
     width: 1230px;
     height: 100vh;
     background-color: #FFFFFF;
     h3{
        margin-top: 100px;
     }
     form{
        margin-left: 250px;
        border-radius: 10px;
        width: 700px;
        margin-top: 40px;
     }
}